<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="10 seconds">

    <contextName>logback</contextName>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ts="%d{ISO8601}" level=%-5level th=%thread logger=%logger msg="%msg"%n
            </pattern>
        </encoder>
    </appender>

    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path:-logs}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path:-logs}.%d{yyyy-MM-dd}.zip</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>
                ts="%d{ISO8601}" level=%-5level th=%thread logger=%logger msg="%msg"%n
            </pattern>
        </encoder>
    </appender>

    <root level="${log.level:-info}">
        <appender-ref ref="file" />
    </root>

</configuration>