<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="30">
    <Properties>
        <property name="LOG_PATTERN" value="%d %-5level [%thread] [%logger] - %msg%n"/>
        <property name="log.dir" value="${env:LOG_DIR:-logs}"/>
        <property name="log.name" value="${env:LOG_NAME:-unknown-service}"/>
    </Properties>

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </console>

        <RollingFile name="RollingFile" fileName="${log.dir}/${log.name}.log"
                     filePattern="${log.dir}/history/${log.name}-%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
    </appenders>

    <loggers>
        <root level="INFO">
            <appender-ref ref="RollingFile"/>
        </root>
    </loggers>
</configuration>
